@tailwind base;

@tailwind components;

@tailwind utilities;

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cantata One", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
p {
  font-family: "Karla", Helvetica, Arial, sans-serif;
  @apply my-8 text-xl pr-2 tracking-tight;
}
p > a {
  @apply underline;
}
ul {
  list-style-type: disc;
  @apply text-lg;
}
